<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ikun.wms.mapper.BrandMapper">

    <resultMap id="BaseResultMap" type="com.ikun.wms.pojo.entity.Brand">
            <id property="brandId" column="brand_id" jdbcType="INTEGER"/>
            <result property="brandName" column="brand_name" jdbcType="VARCHAR"/>
            <result property="brandLeter" column="brand_leter" jdbcType="CHAR"/>
            <result property="brandDesc" column="brand_desc" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        brand_id,brand_name,brand_leter,
        brand_desc
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from brand
        where  brand_id = #{brandId,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from brand
        where  brand_id = #{brandId,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="brand_id" keyProperty="brandId" parameterType="com.ikun.wms.pojo.entity.Brand" useGeneratedKeys="true">
        insert into brand
        ( brand_id,brand_name,brand_leter
        ,brand_desc)
        values (#{brandId,jdbcType=INTEGER},#{brandName,jdbcType=VARCHAR},#{brandLeter,jdbcType=CHAR}
        ,#{brandDesc,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="brand_id" keyProperty="brandId" parameterType="com.ikun.wms.pojo.entity.Brand" useGeneratedKeys="true">
        insert into brand
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="brandId != null">brand_id,</if>
                <if test="brandName != null">brand_name,</if>
                <if test="brandLeter != null">brand_leter,</if>
                <if test="brandDesc != null">brand_desc,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="brandId != null">#{brandId,jdbcType=INTEGER},</if>
                <if test="brandName != null">#{brandName,jdbcType=VARCHAR},</if>
                <if test="brandLeter != null">#{brandLeter,jdbcType=CHAR},</if>
                <if test="brandDesc != null">#{brandDesc,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ikun.wms.pojo.entity.Brand">
        update brand
        <set>
                <if test="brandName != null">
                    brand_name = #{brandName,jdbcType=VARCHAR},
                </if>
                <if test="brandLeter != null">
                    brand_leter = #{brandLeter,jdbcType=CHAR},
                </if>
                <if test="brandDesc != null">
                    brand_desc = #{brandDesc,jdbcType=VARCHAR},
                </if>
        </set>
        where   brand_id = #{brandId,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ikun.wms.pojo.entity.Brand">
        update brand
        set 
            brand_name =  #{brandName,jdbcType=VARCHAR},
            brand_leter =  #{brandLeter,jdbcType=CHAR},
            brand_desc =  #{brandDesc,jdbcType=VARCHAR}
        where   brand_id = #{brandId,jdbcType=INTEGER} 
    </update>
</mapper>
