<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ikun.wms.mapper.BuyListMapper">

    <resultMap id="BaseResultMap" type="com.ikun.wms.pojo.entity.BuyList">
            <id property="buyId" column="buy_id" jdbcType="INTEGER"/>
            <result property="productId" column="product_id" jdbcType="INTEGER"/>
            <result property="storeId" column="store_id" jdbcType="INTEGER"/>
            <result property="buyNum" column="buy_num" jdbcType="INTEGER"/>
            <result property="factBuyNum" column="fact_buy_num" jdbcType="INTEGER"/>
            <result property="buyTime" column="buy_time" jdbcType="TIMESTAMP"/>
            <result property="supplyId" column="supply_id" jdbcType="INTEGER"/>
            <result property="placeId" column="place_id" jdbcType="INTEGER"/>
            <result property="buyUser" column="buy_user" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="isIn" column="is_in" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        buy_id,product_id,store_id,
        buy_num,fact_buy_num,buy_time,
        supply_id,place_id,buy_user,
        phone,is_in
    </sql>
    <!--采购添加-->
    <insert id="purchaseAdd">
        insert into buy_list (product_id,store_id,buy_num,buy_time,supply_id,place_id,buy_user,phone,is_in)
        values (#{productId},#{storeId},#{buyNum},now(),#{supplyId},#{placeId},#{buyUser},#{phone},0)
    </insert>
    <update id="purchaseUpdate">
        update buy_list set fact_buy_num=#{factBuyNum},buy_num=#{buyNum} where buy_id=#{buyId}
    </update>
    <update id="updateIsInById">
        update buy_list set is_in = 1 where buy_id = #{buyId}
    </update>
    <select id="findpurchaseList" resultType="com.ikun.wms.pojo.vo.BuyListVo">
        select t1.*, t2.product_name, t3.store_name
        from buy_list t1, product t2, store t3
        where t1.product_id = t2.product_id and t1.store_id = t3.store_id
        <if test="storeId != null">
            and t1.store_id = #{storeId}
        </if>
        <if test="productName != null and productName != ''">
            and t2.product_name like concat('%', #{productName}, '%')
        </if>
        <if test="buyUser != null and buyUser != ''">
            and t1.buy_user like concat('%', #{buyUser}, '%')
        </if>
        <if test="isIn != null and isIn != ''">
            and t1.is_in = #{isIn}
        </if>
        <if test="startTime != null and startTime != ''">
            and t1.buy_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and t1.buy_time &lt;= #{endTime}
        </if>
        order by t1.buy_time desc
    </select>
</mapper>
