<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ikun.wms.mapper.InStoreMapper">

    <resultMap id="BaseResultMap" type="com.ikun.wms.pojo.entity.InStore">
            <id property="insId" column="ins_id" jdbcType="INTEGER"/>
            <result property="storeId" column="store_id" jdbcType="INTEGER"/>
            <result property="productId" column="product_id" jdbcType="INTEGER"/>
            <result property="inNum" column="in_num" jdbcType="INTEGER"/>
            <result property="createBy" column="create_by" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="isIn" column="is_in" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ins_id,store_id,product_id,
        in_num,create_by,create_time,
        is_in
    </sql>
    <update id="updateStoreNums">
        update wms.product set product_num = product_num + #{inNum}
        where product_id = #{productId}
    </update>
</mapper>
