<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ikun.wms.mapper.ProductTypeMapper">

    <resultMap id="BaseResultMap" type="com.ikun.wms.pojo.entity.ProductType">
            <id property="typeId" column="type_id" jdbcType="INTEGER"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="typeCode" column="type_code" jdbcType="VARCHAR"/>
            <result property="typeName" column="type_name" jdbcType="VARCHAR"/>
            <result property="typeDesc" column="type_desc" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        type_id,parent_id,type_code,
        type_name,type_desc
    </sql>
</mapper>
