<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ikun.wms.mapper.StoreMapper">

    <resultMap id="BaseResultMap" type="com.ikun.wms.pojo.entity.Store">
            <id property="storeId" column="store_id" jdbcType="INTEGER"/>
            <result property="storeName" column="store_name" jdbcType="VARCHAR"/>
            <result property="storeNum" column="store_num" jdbcType="VARCHAR"/>
            <result property="storeAddress" column="store_address" jdbcType="VARCHAR"/>
            <result property="concat" column="concat" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        store_id,store_name,store_num,
        store_address,concat,phone
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from store
        where  store_id = #{storeId,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from store
        where  store_id = #{storeId,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="store_id" keyProperty="storeId" parameterType="com.ikun.wms.pojo.entity.Store" useGeneratedKeys="true">
        insert into store
        ( store_id,store_name,store_num
        ,store_address,concat,phone
        )
        values (#{storeId,jdbcType=INTEGER},#{storeName,jdbcType=VARCHAR},#{storeNum,jdbcType=VARCHAR}
        ,#{storeAddress,jdbcType=VARCHAR},#{concat,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="store_id" keyProperty="storeId" parameterType="com.ikun.wms.pojo.entity.Store" useGeneratedKeys="true">
        insert into store
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="storeId != null">store_id,</if>
                <if test="storeName != null">store_name,</if>
                <if test="storeNum != null">store_num,</if>
                <if test="storeAddress != null">store_address,</if>
                <if test="concat != null">concat,</if>
                <if test="phone != null">phone,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="storeId != null">#{storeId,jdbcType=INTEGER},</if>
                <if test="storeName != null">#{storeName,jdbcType=VARCHAR},</if>
                <if test="storeNum != null">#{storeNum,jdbcType=VARCHAR},</if>
                <if test="storeAddress != null">#{storeAddress,jdbcType=VARCHAR},</if>
                <if test="concat != null">#{concat,jdbcType=VARCHAR},</if>
                <if test="phone != null">#{phone,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ikun.wms.pojo.entity.Store">
        update store
        <set>
                <if test="storeName != null">
                    store_name = #{storeName,jdbcType=VARCHAR},
                </if>
                <if test="storeNum != null">
                    store_num = #{storeNum,jdbcType=VARCHAR},
                </if>
                <if test="storeAddress != null">
                    store_address = #{storeAddress,jdbcType=VARCHAR},
                </if>
                <if test="concat != null">
                    concat = #{concat,jdbcType=VARCHAR},
                </if>
                <if test="phone != null">
                    phone = #{phone,jdbcType=VARCHAR},
                </if>
        </set>
        where   store_id = #{storeId,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ikun.wms.pojo.entity.Store">
        update store
        set 
            store_name =  #{storeName,jdbcType=VARCHAR},
            store_num =  #{storeNum,jdbcType=VARCHAR},
            store_address =  #{storeAddress,jdbcType=VARCHAR},
            concat =  #{concat,jdbcType=VARCHAR},
            phone =  #{phone,jdbcType=VARCHAR}
        where   store_id = #{storeId,jdbcType=INTEGER} 
    </update>
</mapper>
