<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ikun.wms.mapper.StoreMapper">

    <resultMap id="BaseResultMap" type="com.ikun.wms.pojo.entity.Store">
            <id property="storeId" column="store_id" jdbcType="INTEGER"/>
            <result property="storeName" column="store_name" jdbcType="VARCHAR"/>
            <result property="storeNum" column="store_num" jdbcType="VARCHAR"/>
            <result property="storeAddress" column="store_address" jdbcType="VARCHAR"/>
            <result property="concat" column="concat" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        store_id,store_name,store_num,
        store_address,concat,phone
    </sql>

</mapper>
