<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ikun.wms.mapper.UnitMapper">

    <resultMap id="BaseResultMap" type="com.ikun.wms.pojo.entity.Unit">
            <id property="unitId" column="unit_id" jdbcType="INTEGER"/>
            <result property="unitName" column="unit_name" jdbcType="VARCHAR"/>
            <result property="unitDesc" column="unit_desc" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        unit_id,unit_name,unit_desc
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from unit
        where  unit_id = #{unitId,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from unit
        where  unit_id = #{unitId,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="unit_id" keyProperty="unitId" parameterType="com.ikun.wms.pojo.entity.Unit" useGeneratedKeys="true">
        insert into unit
        ( unit_id,unit_name,unit_desc
        )
        values (#{unitId,jdbcType=INTEGER},#{unitName,jdbcType=VARCHAR},#{unitDesc,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="unit_id" keyProperty="unitId" parameterType="com.ikun.wms.pojo.entity.Unit" useGeneratedKeys="true">
        insert into unit
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="unitId != null">unit_id,</if>
                <if test="unitName != null">unit_name,</if>
                <if test="unitDesc != null">unit_desc,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="unitId != null">#{unitId,jdbcType=INTEGER},</if>
                <if test="unitName != null">#{unitName,jdbcType=VARCHAR},</if>
                <if test="unitDesc != null">#{unitDesc,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ikun.wms.pojo.entity.Unit">
        update unit
        <set>
                <if test="unitName != null">
                    unit_name = #{unitName,jdbcType=VARCHAR},
                </if>
                <if test="unitDesc != null">
                    unit_desc = #{unitDesc,jdbcType=VARCHAR},
                </if>
        </set>
        where   unit_id = #{unitId,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ikun.wms.pojo.entity.Unit">
        update unit
        set 
            unit_name =  #{unitName,jdbcType=VARCHAR},
            unit_desc =  #{unitDesc,jdbcType=VARCHAR}
        where   unit_id = #{unitId,jdbcType=INTEGER} 
    </update>
</mapper>
