<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ikun.wms.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.ikun.wms.pojo.entity.User">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="userCode" column="user_code" jdbcType="VARCHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="userPwd" column="user_pwd" jdbcType="VARCHAR"/>
            <result property="userType" column="user_type" jdbcType="CHAR"/>
            <result property="userState" column="user_state" jdbcType="CHAR"/>
            <result property="isDelete" column="is_delete" jdbcType="CHAR"/>
            <result property="createBy" column="create_by" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,user_code,user_name,
        user_pwd,user_type,user_state,
        is_delete,create_by,create_time,
        update_by,update_time
    </sql>
</mapper>
