<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ikun.wms.mapper.UserRoleMapper">

    <resultMap id="BaseResultMap" type="com.ikun.wms.pojo.entity.UserRole">
            <id property="userRoleId" column="user_role_id" jdbcType="INTEGER"/>
            <result property="roleId" column="role_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_role_id,role_id,user_id
    </sql>
    <delete id="removeByUserId">
        delete from wms.user_role where user_id = #{userId}
    </delete>
</mapper>
